body {
    background-color: antiquewhite;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 768px;
    height: 768px;
}

.row {
    display: flex;
}

.column {
    background-color: white;
}

.hover {
    background-color: black;
}

.btn {
    margin: 16px;
}